<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="colissimofrontpage-payment-information-management-plugin" type="LaPoste\ColissimoFrontPage\Plugin\PaymentInformationManagementPlugin"/>
    </type>

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="colissimofrontpage-shipping-information-management-plugin" type="LaPoste\ColissimoFrontPage\Plugin\ShippingInformationManagementPlugin"/>
    </type>

    <type name="Magento\Multishipping\Block\Checkout\Addresses">
        <plugin name="colissimofrontpage-shipping-addresses" type="LaPoste\ColissimoFrontPage\Plugin\AddRelayAddressOption"/>
    </type>

    <type name="Magento\Multishipping\Model\Checkout\Type\Multishipping">
        <plugin name="colissimofrontpage-add-shipping-item" type="LaPoste\ColissimoFrontPage\Plugin\AddShippingItem"/>
    </type>

    <type name="Magento\Quote\Model\Quote">
        <plugin name="colissimofrontpage-add-relay-address" type="LaPoste\ColissimoFrontPage\Plugin\AddRelayAddressAsShipping"/>
    </type>

    <type name="Magento\Multishipping\Block\Checkout\Shipping">
        <plugin name="colissimofrontpage-filter-shipping-methode" type="LaPoste\ColissimoFrontPage\Plugin\FilterShippingMethods"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="colissimofrontpage-quote-address" type="LaPoste\ColissimoFrontPage\Plugin\QuoteAddress"/>
    </type>

    <type name="Magento\Multishipping\Block\Checkout\Overview">
        <plugin name="colissimofrontpage-edit-address-link" type="LaPoste\ColissimoFrontPage\Plugin\EditAddressLink"/>
    </type>

    <type name="Magento\Multishipping\Model\Cart\Controller\CartPlugin">
        <plugin name="colissimofrontpage-reset-relay-id" type="LaPoste\ColissimoFrontPage\Plugin\ResetRelayId"/>
    </type>
</config>
