<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="colissimofrontpage" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Colissimo FrontPage</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Carrier Name</label>
                </field>

                <field id="name" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Shipping Method Name</label>
                    <comment>Shipping method name which is displayed at the "shipping step" during checkout.</comment>
                </field>

                <field id="widget_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Widget Url</label>
                </field>

                <field id="ws_auth_url" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Authentication Webservice Url</label>
                </field>

                <field id="ws_auth_login" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Authentication Webservice Login</label>
                </field>

                <field id="ws_auth_pass" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Authentication Webservice Password</label>
                </field>

                <field id="amount" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Amount</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="min_quote_price_for_free" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Price for Free Shipping</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="min_order_total" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Amount</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="max_order_total" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Amount</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="max_weight" translate="label comment" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Weight Limit</label>
                    <comment>The Colissimo method will not be available if the order weight is over the weight limit.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="sallowspecific" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    <comment>As of January 1, 2018, the countries available for colisimo delivery are FR, BE, DE, NL, LU, ES, GB, PT, AT, EE, LV, LT, CZ, HU, SK, SI, DK, FI, IE, PL, SE</comment>
                </field>

                <field id="specificcountry" translate="label comment" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="order_prepare_delay" translate="label comment" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Number of days for preparing order</label>
                    <validate>validate-number validate-zero-or-greater validate-digits-range digits-range-0-6</validate>
                    <comment>Between 0 and 6 days.</comment>
                </field>

                <field id="default_country" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>

                <field id="default_address" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default Address</label>
                </field>

                <field id="default_postcode" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default Postcode</label>
                </field>

                <field id="default_city" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default City</label>
                </field>

                <field id="resource_url" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Resource Base Url</label>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
